/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-img {
    width: 50px;
    height: 50px;
    border: 2px solid #333; /* Adiciona a borda */
    border-radius: 50%;
}
.conteudo {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pagina {
    display: flex;
    flex: 1;
}

.coluna {
    flex: 1;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.menu h3, .coluna h3 {
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover {
    color: #007BFF;
}
